.gradient-text {
  background: linear-gradient(90deg, #0090D8 0%, #FF008F 71.69%, #FF000B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.bg-gradient-ci {
  background: linear-gradient(135deg, #0090D8 0%, #FF008F 71.69%, #FF000B 100%);
}